.SubContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Header {
    display: flex;
    align-items: center;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 2.5rem;
    height: 10vh;
    margin: 45px 0 30px 0;
}

.CardContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 75vh;
    gap: 4rem;
    background-color: white;
}

.UploadInstructions {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5rem;
    border-radius: .5rem;
    font-family: 'Raleway';
    font-size: 1rem;
    color: black;
    height: 30vh;
    max-width: 350px;
    background-color: aliceblue;
    border: 1px dashed black;
    padding: 15px;
}

.previewImage {
    display: flex;
    justify-content: center;
    width: 370px;
    height: 30vh;
    overflow: hidden;
    border-radius: .5rem;
    margin: 20px 0 20px 0;
}

.previewImage > img {
    object-fit: contain;
}

.ImageUpload {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    height: 5rem;
    margin: 30px;
}

.ImageUpload>button, .ImageUpload>input::file-selector-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(98.63deg, #01AFEF 0%, #0E89B9 100%);
    color: white;
    width: 7rem; 
    height: 3rem;

    border-radius: .5rem; 
    cursor: pointer
}

/* #file-upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(98.63deg, #01AFEF 0%, #0E89B9 100%);
    color: white;
    width: 3rem; 
    border-radius: .5rem; 
    cursor: pointer
} */


@media screen and (max-width: 480px) {
    .SubContainer {
        height: 175vh;
    }

    .Header {
        font-size: 2rem;
        margin: 30px;
    }

    .CardContainer {
        flex-direction: column;
        height: 160vh;
        background-color: white;
        gap: 1rem;
    }
}
